body{
  background: rgb(149,26,33);
  background: linear-gradient(180deg, rgba(149,26,33,1) 0%, #cb363e 75%);
}

#content .list-group-item{
    background-color:#f8f9fa;
    border-top:0;
    border-bottom: 1px solid rgba(0,0,0,.75);
}

.question{
  background:#d2d9df;
  background: linear-gradient(180deg, #F8F9FA 0%, #d2d9df 75%);
}

.question a{
  color:black;
}

.question p{
  overflow-wrap:break-word;
}

.question a:hover{
  text-decoration: none;
}

#blogpostContent p{
  text-indent:1em;
  margin-left:10px;
}